body,
html {
  height: 150%;
  margin: 0;
  padding: 0;
}

.bg {
  /* The image used */
  background-image: url("/image/indyandrewjones.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yt {
  display: hidden;
}
